@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);

body {
	background: url('../images/background.png');
	font-family: 'Open Sans', sans-serif;
}

header {
	position: relative;
	background: #000;
	height: 50px;
	line-height: 50px;
}

a {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #fb8602;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	position: relative;
	top: 10px;
	float: left;
}

#saldo {
	float: right;
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
}